<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button>
        <a  onclick="location.href='/'">Home</a><br>
    </button>
    <button>
        <a onclick="location.href='/submit'"> Add User</a>
    </button>
    <h1>Here are Your Details:-</h1>
    <h4>Your Full Name is :- <%=data.first_name%>  <%=data.last_name%></h4>
    <h4>Your Email address is  :- <%=data.email%>  </h4>
    <h3>“You Learn More From Failure Than From Success. Don’t Let It Stop You. Failure Builds Character.” " <%=data.first_name%> "</h3>
    
</body>
</html>